openapi: 3.0.3
info:
  title: Google Air Quality
  version: 1.0.0
  contact: {}
servers:
  - url: https://airquality.googleapis.com
paths:
  /v1/currentConditions:lookup:
    post:
      summary: Current Conditions
      description: Current Conditions
      operationId: currentConditions
      parameters:
        - name: key
          in: query
          schema:
            type: string
            example: a313
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                location:
                  type: object
                  properties:
                    latitude:
                      type: number
                      example: 37.419734
                    longitude:
                      type: number
                      example: -122.0827784
            examples:
              Current Conditions:
                value:
                  location:
                    latitude: 37.419734
                    longitude: -122.0827784
      responses:
        '200':
          description: '200'
          headers:
            Alt-Svc:
              schema:
                type: string
                example: h3=":443"; ma=2592000,h3-29=":443"; ma=2592000
            Cache-Control:
              schema:
                type: string
                example: private
            Content-Encoding:
              schema:
                type: string
                example: gzip
            Date:
              schema:
                type: string
                example: Wed, 27 Sep 2023 15:39:56 GMT
            Server:
              schema:
                type: string
                example: ESF
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Vary:
              schema:
                type: string
                example: Referer
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-XSS-Protection:
              schema:
                type: string
                example: '0'
          content:
            application/json:
              schema:
                type: object
                properties:
                  dateTime:
                    type: string
                    example: '2023-09-27T15:00:00Z'
                  indexes:
                    type: array
                    items:
                      type: object
                      properties:
                        aqi:
                          type: number
                          example: 68
                        aqiDisplay:
                          type: string
                          example: '68'
                        category:
                          type: string
                          example: Good air quality
                        code:
                          type: string
                          example: uaqi
                        color:
                          type: object
                          properties:
                            blue:
                              type: number
                              example: 0.1764706
                            green:
                              type: number
                              example: 0.827451
                            red:
                              type: number
                              example: 0.5647059
                        displayName:
                          type: string
                          example: Universal AQI
                        dominantPollutant:
                          type: string
                          example: pm10
                    example:
                      - aqi: 68
                        aqiDisplay: '68'
                        category: Good air quality
                        code: uaqi
                        color:
                          blue: 0.1764706
                          green: 0.827451
                          red: 0.5647059
                        displayName: Universal AQI
                        dominantPollutant: pm10
                  regionCode:
                    type: string
                    example: us
              examples:
                '200':
                  value:
                    dateTime: '2023-09-27T15:00:00Z'
                    indexes:
                      - aqi: 68
                        aqiDisplay: '68'
                        category: Good air quality
                        code: uaqi
                        color:
                          blue: 0.1764706
                          green: 0.827451
                          red: 0.5647059
                        displayName: Universal AQI
                        dominantPollutant: pm10
                    regionCode: us
        '400':
          description: '400'
          headers:
            Alt-Svc:
              schema:
                type: string
                example: h3=":443"; ma=2592000,h3-29=":443"; ma=2592000
            Cache-Control:
              schema:
                type: string
                example: private
            Content-Encoding:
              schema:
                type: string
                example: gzip
            Date:
              schema:
                type: string
                example: Wed, 27 Sep 2023 15:42:01 GMT
            Server:
              schema:
                type: string
                example: ESF
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Vary:
              schema:
                type: string
                example: Referer
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-XSS-Protection:
              schema:
                type: string
                example: '0'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: number
                        example: 400
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            '@type':
                              type: string
                              example: type.googleapis.com/google.rpc.ErrorInfo
                            domain:
                              type: string
                              example: googleapis.com
                            metadata:
                              type: object
                              properties:
                                service:
                                  type: string
                                  example: airquality.googleapis.com
                            reason:
                              type: string
                              example: API_KEY_INVALID
                        example:
                          - '@type': type.googleapis.com/google.rpc.ErrorInfo
                            domain: googleapis.com
                            metadata:
                              service: airquality.googleapis.com
                            reason: API_KEY_INVALID
                      message:
                        type: string
                        example: API key not valid. Please pass a valid API key.
                      status:
                        type: string
                        example: INVALID_ARGUMENT
              examples:
                '400':
                  value:
                    error:
                      code: 400
                      details:
                        - '@type': type.googleapis.com/google.rpc.ErrorInfo
                          domain: googleapis.com
                          metadata:
                            service: airquality.googleapis.com
                          reason: API_KEY_INVALID
                      message: API key not valid. Please pass a valid API key.
                      status: INVALID_ARGUMENT
        '403':
          description: '403'
          headers:
            Alt-Svc:
              schema:
                type: string
                example: h3=":443"; ma=2592000,h3-29=":443"; ma=2592000
            Cache-Control:
              schema:
                type: string
                example: private
            Content-Encoding:
              schema:
                type: string
                example: gzip
            Date:
              schema:
                type: string
                example: Wed, 27 Sep 2023 15:41:44 GMT
            Server:
              schema:
                type: string
                example: ESF
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Vary:
              schema:
                type: string
                example: Referer
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-XSS-Protection:
              schema:
                type: string
                example: '0'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: number
                        example: 403
                      message:
                        type: string
                        example: The request is missing a valid API key.
                      status:
                        type: string
                        example: PERMISSION_DENIED
              examples:
                '403':
                  value:
                    error:
                      code: 403
                      message: The request is missing a valid API key.
                      status: PERMISSION_DENIED
tags: []
